@charset "utf-8";
/* CSS Document */

html, body {
    height:100%;
}

body{
	margin:0px;
	padding:0;
	font-family:'proxima_nova_rgregular', Arial;
	background:#4f5e6d url(../images/body-bg.png) top center no-repeat;
	}

.wrapper{
	width:100% !important;
    
	}
.main-cont {
    min-height:100%;
    margin-bottom:-40px;
}
.footer-body {
    height:40px;
    
    color:#ece9ec;
}
	
.top-row{
	border-top:1px solid #FFF;
	height:69px;
	position:absolute;
	z-index:1;
	width:100%;
	-webkit-box-shadow: 0 1px 1px 1px #b3b4b5;
	box-shadow: 0 1px 1px 1px #b3b4b5;
	background: #ece9ec;
	background: -moz-linear-gradient(top, #ece9ec 0%, #dfdbdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ece9ec), color-stop(100%,#dfdbdf));
	background: -webkit-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -o-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -ms-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: linear-gradient(to bottom, #ece9ec 0%,#dfdbdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece9ec', endColorstr='#dfdbdf',GradientType=0 );
	}
	
.logo{
	width:72px;
	height:37px;
	background:url(../images/logo.png) top left no-repeat;
	float:left;
	margin:12px 0 0 72px;
	}
	
.login-cont{
	width:403px;
	height:438px;
	top:50%;
	left:50%;
	margin-top:-219px;
	margin-left:-200px;
	
	position:absolute;
	}
	
._row{
	margin:10px 0;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 2px 2px #37424e;
	box-shadow: 0 0 2px 2px #37424e;
	background: #ece9ec;
	background: -moz-linear-gradient(top, #ece9ec 0%, #dfdbdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ece9ec), color-stop(100%,#dfdbdf));
	background: -webkit-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -o-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -ms-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: linear-gradient(to bottom, #ece9ec 0%,#dfdbdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece9ec', endColorstr='#dfdbdf',GradientType=0 );
	}
	
.options-se{
	padding:15px 0;
	text-align:center;
	border-right:1px solid #8f8989;
	}
	
.selected{
	background:#f8cbb9;
	}
	
.last{
	border-right:0;
	}
	
.login-header{
	font-size:16px;
	font-family:'proxima_novasemibold', Arial;
	color:#2f2d2e;
	padding:14px 31px;
	background:#efdbd0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;	
	}
	
.login-body{
	padding:15px 31px;
	}
	
.login-lab{
	font-size:14px;
	color:#FFFFFF;
	margin:5px 0;
    font-weight: 700;
}
	
input[type="text"], input[type="password"]{
	border:1px solid #8f8989;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	color:#2f2d2e;
	padding:4px 7px;
	width:100%;
	margin:5px 0;
	}
	
textarea{
	
	border:1px solid #8f8989;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	color:#2f2d2e;
	padding:4px 7px;
	width:100%;
	margin:5px 0;
	
	}
	
select{	
	width: 100%;
	padding: 5px;
	border:1px solid #8f8989;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	color:#2f2d2e;
	margin:5px 0;
}
	
	
	
.blue{
	border:1px solid #3b79fe;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	font-family:'proxima_novasemibold', Arial;
	color:#FFF;
	padding:4px 7px;
	width:100%;
	background:#3b79fe;
	margin:10px 0;
	
	}
	
.icons-cont{
	width:623px;
	height:310px;
	top:50%;
	left:50%;
	margin-top:-159px;
	margin-left:-311px;
	position:absolute;
	background:#FFF;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	}
	

.icons-cont-ho{
	width:997px;
	top:50%;
	left:50%;
	margin-top:-159px;
	margin-left:-498px;
	position:absolute;
	background:#FFF;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding-bottom:30px;
	}

.icons-cont-ho-warehouse {
width: 630px;
top: 50%;
left: 50%;
margin-top: -159px;
margin-left: -314px;
position: absolute;
background: #FFF;
-webkit-border-radius: 7px;
border-radius: 7px;
padding-bottom: 30px;
}

.icons-cont-ho-orders {
width: 1184px;
top: 50%;
left: 50%;
margin-top: -159px;
margin-left: -593px;
position: absolute;
background: #FFF;
-webkit-border-radius: 7px;
border-radius: 7px;
padding-bottom: 30px;
}
	
.icons-header{
	font-size:18px;
	font-family:'proxima_novasemibold', Arial;
	color:#2f2d2e;
	padding:14px 31px;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;	
	-webkit-box-shadow: 0 1px 1px 1px #b3b4b5;
	box-shadow: 0 1px 1px 1px #b3b4b5;
	background: #ece9ec;
	background: -moz-linear-gradient(top, #ece9ec 0%, #dfdbdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ece9ec), color-stop(100%,#dfdbdf));
	background: -webkit-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -o-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: -ms-linear-gradient(top, #ece9ec 0%,#dfdbdf 100%);
	background: linear-gradient(to bottom, #ece9ec 0%,#dfdbdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece9ec', endColorstr='#dfdbdf',GradientType=0 );
	}
	
.icons-body{
	padding:31px;
	text-align:center;
	}
	
.anch-blocks{
	width:171px;
	height:196px;
	float:left;
	margin-right:16px;
	display:block;
	}
	
.anch-blocks:hover{
	text-decoration:none;
	}
.store-inventory{
	background:url(../images/store-inventory.png) top left no-repeat;
	}
	
.store-inventory:hover{
	background:url(../images/store-inventory.png) left -196px no-repeat;
	}

	
	
.store-receivings{
	background:url(../images/store-receivings.png) top left no-repeat;
	}
	
.store-receivings:hover{
	background:url(../images/store-receivings.png) left -196px no-repeat;
	}
	
	
.store-transfers{
	background:url(../images/store-transfers.png) top left no-repeat;
	}
	
.store-transfers:hover{
	background:url(../images/store-transfers.png) left -196px no-repeat;
	}
	

.reports{
	background:url(../images/reports.png) top left no-repeat;
	}
	
.reports:hover{
	background:url(../images/reports.png) left -196px no-repeat;
	}
	
.all-stores{
	background:url(../images/all-stores-inventory-list.png) top left no-repeat;
	}
	
.all-stores:hover{
	background:url(../images/all-stores-inventory-list.png) left -196px no-repeat;
	}
	

.vendor-list{
	background:url(../images/vendor-detail-list.png) top left no-repeat;
	}
	
.vendor-list:hover{
	background:url(../images/vendor-detail-list.png) left -196px no-repeat;
	}
	
.order-purchasing{
	background:url(../images/order-purchasing.png) top left no-repeat;
	}
	
.order-purchasing:hover{
	background:url(../images/order-purchasing.png) left -196px no-repeat;
	}

.order-management{
	background:url(../images/manage-orders.png) top left no-repeat;
	}
	
.order-management:hover{
	background:url(../images/manage-orders.png) left -196px no-repeat;
	}
	
.store-inventory-pl{
	background:url(../images/store-inventory-picking-list.png) top left no-repeat;
	}
	
.store-inventory-pl:hover{
	background:url(../images/store-inventory-picking-list.png) left -196px no-repeat;
	}
	
.manage-inventory{
	background:url(../images/manage-inventory.png) top left no-repeat;
	}
	
.manage-inventory:hover{
	background:url(../images/manage-inventory.png) left -196px no-repeat;
	}
	
	
.auto-purchase{
	background:url(../images/auto-purchase-order.png) top left no-repeat;
	}
	
.auto-purchase:hover{
	background:url(../images/auto-purchase-order.png) left -196px no-repeat;
	}
	

.manual-purchase-order{
	background:url(../images/manual-purchase-order.png) top left no-repeat;
	}
	
.manual-purchase-order:hover{
	background:url(../images/manual-purchase-order.png) left -196px no-repeat;
	}
	
.go-back{
	background:url(../images/go-back.png) top left no-repeat;
	}
	
.go-back:hover{
	background:url(../images/go-back.png) left -196px no-repeat;
	}

.add-edit-inventory{
	background:url(../images/add-edit-inventory.png) top left no-repeat;
	}
	
.add-edit-inventory:hover{
	background:url(../images/add-edit-inventory.png) left -196px no-repeat;
	}

.add-edit-product{
    background:url(../images/add-edit-product.png) top left no-repeat;
}

.add-edit-product:hover {
    background:url(../images/add-edit-product.png) left -196px no-repeat;
}

.receive-order{
	background:url(../images/receive-order.png) top left no-repeat;
	}
	
.receive-order:hover{
	background:url(../images/receive-order.png) left -196px no-repeat;
	}

.add-edit-vendors{
	background:url(../images/add-edit-vendors.png) top left no-repeat;
	}
	
.add-edit-vendors:hover{
	background:url(../images/add-edit-vendors.png) left -196px no-repeat;
	}

.vendor-products{
	background:url(../images/vendor-products.png) top left no-repeat;
	}
	
.vendor-products:hover{
	background:url(../images/vendor-products.png) left -196px no-repeat;
	}

.manage-orders{
	background:url(../images/manage-orders.png) top left no-repeat;
	}
	
.manage-orders:hover{
	background:url(../images/manage-orders.png) left -196px no-repeat;
	}

.manage-inventorywarehouse{
	background:url(../images/manage-inventory.png) top left no-repeat;
	}
	
.manage-inventorywarehouse:hover{
	background:url(../images/manage-inventory.png) left -196px no-repeat;
	}

.manage-stores{
	background:url(../images/manage-stores.png) top left no-repeat;
	}
	
.manage-stores:hover{
	background:url(../images/manage-stores.png) left -196px no-repeat;
	}

.manage-vendor{
	background:url(../images/vendor-detail-list.png) top left no-repeat;
	}
	
.manage-vendor:hover{
	background:url(../images/vendor-detail-list.png) left -196px no-repeat;
	}


.place-order{
	background:url(../images/place-order.png) top left no-repeat;
	}
	
.place-order:hover{
	background:url(../images/place-order.png) left -196px no-repeat;
	}

.recieve-orders{
	background:url(../images/receive-order.png) top left no-repeat;
	}
	
.recieve-orders:hover{
	background:url(../images/receive-order.png) left -196px no-repeat;
	}

.sendorder-store{
	background:url(../images/send-order-to-store.png) top left no-repeat;
	}
	
.sendorder-store:hover{
	background:url(../images/send-order-to-store.png) left -196px no-repeat;
	}

.view-pendingOrders{
	background:url(../images/view-pending-orders.png) top left no-repeat;
	}
	
.view-pendingOrders:hover{
	background:url(../images/view-pending-orders.png) left -196px no-repeat;
	}

.view-historyOrders{
	background:url(../images/view-order-history.png) top left no-repeat;
	}
	
.view-historyOrders:hover{
	background:url(../images/view-order-history.png) left -196px no-repeat;
	}

.manage-product{
	background:url(../images/manage-products.png) top left no-repeat;
	}
	
.manage-product:hover{
	background:url(../images/manage-products.png) left -196px no-repeat;
	}

.manage-subcategory{
	background:url(../images/manage-sub-cateogyr.png) top left no-repeat;
	}
	
.manage-subcategory:hover{
	background:url(../images/manage-sub-cateogyr.png) left -196px no-repeat;
	}

.manage-category{
	background:url(../images/manage-category.png) top left no-repeat;
	}
	
.manage-category:hover{
	background:url(../images/manage-category.png) left -196px no-repeat;
	}

.manage-department{
	background:url(../images/manage-department.png) top left no-repeat;
	}
	
.manage-department:hover{
	background:url(../images/manage-department.png) left -196px no-repeat;
	}		
	

.left{
	background:url(../images/left-bg.png);
	margin-top:70px;
	width:25%;
	float:left;
	}
	
.right{
	background:url(../images/white-bg.png);
	margin-top:70px;
	padding:25px;
	width:75%;
	float:left;
	}
	
.full{
	width:100%;

	
	}



.left-form-body{
	padding:35px 15px;
	}
	
.left-form-body label{
	color:#FFF;
	}
	


table.grid{
	border:1px solid #a6b4c3;
	margin-top:10px;
	}
	
table.grid th{
	font-family:'proxima_novasemibold';
	font-size:14px;
	color:#34475c;
	border-bottom:1px solid #a6b4c3;
	padding:11px 0;
	text-align:center;
	background: #ecf0f6;
	background: -moz-linear-gradient(top, #ecf0f6 0%, #e1e5ea 92%, #d6dbe0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f6), color-stop(92%,#e1e5ea), color-stop(100%,#d6dbe0));
	background: -webkit-linear-gradient(top, #ecf0f6 0%,#e1e5ea 92%,#d6dbe0 100%);
	background: -o-linear-gradient(top, #ecf0f6 0%,#e1e5ea 92%,#d6dbe0 100%);
	background: -ms-linear-gradient(top, #ecf0f6 0%,#e1e5ea 92%,#d6dbe0 100%);
	background: linear-gradient(to bottom, #ecf0f6 0%,#e1e5ea 92%,#d6dbe0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f6', endColorstr='#d6dbe0',GradientType=0 );
	}
	
table.grid tr td{
	height:33px;
	font-size:14px;
	text-align:center;
	}

table.grid tr td a{
	color:#00a0d4;
	text-decoration:underline;
	}
	
table.grid tr td a:hover{
	color:#00a0d4;
	text-decoration:none;
	}

table.grid tr.odd td{
	background:#FFF;
	color:#798290;
	font-size:13px;
	}
	
table.grid tr.even td{
	background:#f0f3f6;
	color:#798290;
	}
	
.highlighted{
	border-left:1px solid #F00;
	}
	
.highlighted td{
	background:#fff0e2 !important;
	}
.mr5{
	margin-right:5px;
	}
	

.btn-success, .btn-default, .btn-primary{
	width:144px;
	text-align:center;
	padding:4px 0;
	font-family:'Proxima Nova Semibold';
	-webkit-border-radius: 0;
	border-radius: 0;
	float:left;
	margin-right:10px;
}
.btn-success{
	color:#FFF;
	border:1px solid #117425;
	-webkit-box-shadow: 0 1px 1px 0 #e0e0e0;
	box-shadow: 0 1px 1px 0 #e0e0e0;
	background: #38b457;
	background: -moz-linear-gradient(top, #38b457 0%, #26903b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38b457), color-stop(100%,#26903b));
	background: -webkit-linear-gradient(top, #38b457 0%,#26903b 100%);
	background: -o-linear-gradient(top, #38b457 0%,#26903b 100%);
	background: -ms-linear-gradient(top, #38b457 0%,#26903b 100%);
	background: linear-gradient(to bottom, #38b457 0%,#26903b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b457', endColorstr='#26903b',GradientType=0 );
	}
	
.btn-default{

	
	border:1px solid #c2cbd5;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	font-family:'proxima_novasemibold', Arial;
	color:#FFF;
	padding:4px 20px;
	
	background:#c2cbd5;
	margin:10px 0;
	}
	

.btn-primary{
	border:1px solid #3b79fe;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size:16px;
	font-family:'proxima_novasemibold', Arial;
	color:#FFF;
	padding:4px 20px;
	
	background:#3b79fe;
	margin:10px 10px;
	}
	

.top-user{
	float: right; margin-top:7px; margin-right:50px;
	font-weight:bold;
	}
	
table.form{
	width:600px;
	margin:0px auto;
	}
	
.ml0p{
	margin-left:0px;
	}
	
.epf{
	padding:0 31px;
	}
	
.nav-tabs li a{
	padding: 12px 21px;
	}
	
	
.label-right{
	text-align:right;
	padding-right:20px;
	}

.epf-nh	{
	height:auto;	
}
	
	
	
	
	
	
	
	
	
	
	
	
.clear{
	clear:both;
	}
	
